<div style="height: 25;"></div>
<!-- ##### Contact Area End ##### <!-- ##### Footer Area Start ##### -->

    <footer class="footer-area">
        <div class="container">
            <div class="row d-flex flex-wrap align-items-center">

                <div class="col-12 col-md-4">
                    <a href="/"><img src="src/utils/icons/Logo_kangry_01.png" alt=""></a>
                </div>
      <!-- Redes Sociales -->

                <div class="col-12 col-md-4">
                        <div class="contact-social-info mt-50">
                            <a href="#" data-toggle="tooltip" target="_blank" data-placement="top" title="Facebook"><i
                                    class="fab fa-facebook"
                                    style="color:#FAFAFA; font-size:55px; margin-right:21px"></i></a>
                            <a href="#" data-toggle="tooltip" target="_blank" data-placement="top" title="instagram"><i
                                    class="fab fa-instagram"
                                    style="color:#FAFAFA; font-size:55px; margin-right:21px"></i></a>
                            <a href="#" data-toggle="tooltip" target="_blank" data-placement="top" title="Linkedin"><i
                                    class="fab fa-linkedin-in"
                                    style="color:#FAFAFA; font-size:55px; margin-right:21px"></i></a>
                        </div>
                        <br>
                        <p>La Marca que tus eventos necesita</p>
                </div>

                <!-- Logo-->

                <div class="col-12 col-md-4">
                    <a href="/" class="nav-brand"><img src="src/utils/icons/logo_01.png" alt=""></a>
                </div>
            </div>


            
            <div class="col-12 col-md-3"></div>

              <!-- Derecho de autor -->
            <div class="row d-flex justify-content-center">
                <div class="col-12 col-md-7">
                    <p class="copywrite-text">
                        <a href="/terminos_condiciones">
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;
                            <script>
                                document.write(new Date().getFullYear());
                            </script> Todos los derechos reservados | Eventos y Producciones El Kangry 
                            <i class="fa fa-heart-o" aria-hidden="true"></i> Por Aprendices 
                                <a href="https://www.iush.edu.co/" target="_blank">IUSH</a>
                    </p>
                </div>
            </div>

             <div class="col-12 col-md-2"></div>

        </div>
    </footer>


            
    <!-- BOTON PARA STREAMING EXTERNO-->
    
    <div class="container-boton">
        <a href="https://ehjliad9dcvst52tj1p9qq-on.drv.tw/La%20Fabulosa%20Streaming/Reproductor.html" target="blank">
            <img src="src/utils/img/extras/en_vivo.gif" class="flotante-en-vivo">
        </a>
    
    </div>

            
    <!-- ##### Footer Area Start ##### -->
    <!-- jQuery-2.2.4 js -->
        <script src="src/librerias/jquery/jquery-3.6.0.min.js "></script>
    <!-- Popper js -->
        <script src="src/librerias/bootstrap/js/popper.min.js"></script>
    <!-- Bootstrap js -->
        <script src="src/librerias/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="src/librerias/bootstrap/js/bootstrap.min.js"></script>
    <!-- All Plugins js -->
        <script src="src/librerias/plugins/plugins.js"></script>
    <!-- Sweetalert2 -->
        <script src="src/librerias/sweetalert2/dist/sweetalert2.all.min.js"></script>
        <script src="src/librerias/sweetalert2/dist/sweetalert2.min.js"></script>
   <!-- Table js -->
        <script src="src/librerias/datatable/DataTables-1.10.24/js/dataTables.bootstrap4.min.js"></script>
        <script src="src/librerias/datatable/datatables.min.js"></script>
    <!-- <script src="src/librerias/datatable/DataTables-1.10.24/js/dataTables.bootstrap4.min.js"></script> -->
    <!-- Active js -->
        <script src="src/js/random.js"></script>
        <script src="src/js/active.js"></script>
        <script src="src/js/formulario_usuario.js"></script>
        <script src="src/js/main.js"></script>
</body>

</html>