<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>Emisora virtual la fabulosa</title>
    
    <!-- Bootstrap css -->
    <link rel="stylesheet" href="src/librerias/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="src/css/animate.css">
    <link rel="stylesheet" href="src/css/audioplayer.css">
    <link rel="stylesheet" href="src/css/classy-nav.css">
    <link rel="stylesheet" href="src/css/font-awesome.min.css">
    <link rel="stylesheet" href="src/css/magnific-popup.css">
    <link rel="stylesheet" href="src/css/one-music-icon.css">
    <link rel="stylesheet" href="src/css/owl.carousel.min.css">

    <!-- Favicon -->
    <link rel="icon" href="src/utils/icons/logo_mini.png">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">

    <!-- table css -->
    <link rel="stylesheet" href="src/librerias/datatable/datatables.min.css">
    <link rel="stylesheet" href="src/librerias/datatable/DataTables-1.10.24/css/dataTables.bootstrap.min.css">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="src/style/menu.css">
    <link rel="stylesheet" href="src/style/boton_streaming.css">
    <link rel="stylesheet" href="src/style/chat_menu.css">
    <link rel="stylesheet" href="src/style/style.css">

</head>
