<%- include('../includes/head.ejs') %>
    <%- include('../includes/headers.ejs') %>

        <!-- ##### Breadcumb Area Start ##### -->
        <section class="breadcumb-area bg-img bg-overlay"
            style="background-image: url(src/utils/img/fondos/bg_01.jpg);">
            <div class="bradcumbContent">
                <!-- <p>See what’s new</p> -->
                <h2>!Importante¡</h2>
            </div>
        </section>
        <!-- ##### Breadcumb Area End ##### -->

        <!-- ##### Login Area Start ##### -->
        <section class="login-area section-padding-100">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-lg-8">
                        <div class="login-content">
                            <h1>Términos y Condiciones</h3>
                                <br><br><br>
                                <!-- Login Form -->
                                <div class="login-form" style="text-align: justify;">
                                    <p>
                                        El usuario al ingresar en <strong>LA FABULOSA DE MEDELLÍN</strong>
                                        <strong>[www.emisoravirtualfabulosamedellin.com]</strong> acepta expresamente los términos y condiciones
                                        de uso del portal, su política de privacidad y Derechos de autor.
                                        <br>
                                        Los contenidos de este portal son propiedad de <strong>LA FABULOSA DE MEDELLÍN</strong> y se prohíbe su
                                        reproducción total o parcial sin la autorización escrita del propietario.
                                        <br>
                                        <strong>LA FABULOSA DE MEDELLÍN</strong> se reserva el derecho de eliminar todo
                                        contenido creado por los usuarios que no corresponda a las políticas de
                                        contenido del portal.
                                    </p>
                                    <h3>Política de privacidad</h3>
                                    <p>
                                        <strong>LA FABULOSA DE MEDELLÍN</strong> utiliza empresas publicitarias asociadas para publicar anuncios cuando visita nuestro sitio web. Es posible que estas empresas usen la información que obtienen de las visitas a este sitio web para ofrecer a los usuarios anuncios sobre productos y servicios que les resulten de interés.
                                        <br>
                                        Cada vez que el usuario solicita una página del sitio web se recoge información técnica sobre el uso del portal.
                                    </p>
                                    <h3>Cesión</h3>
                                    <p>
                                        Los contenidos de cualquier tipo que los usuarios envíen a los correos del portal o de sus periodistas, mediante los módulos de contacto o de cualquier otra forma, podrán ser usados por <strong>LA FABULOSA DE MEDELLÍN</strong> de manera discrecional y el usuario cede de forma gratuita el derecho de uso, publicación y promoción. El usuario es titular de los derechos de autor sobre su contenido.
                                    </p>
                                    <h3>Contenido de los usuarios</h3>
                                    <p>
                                        <ul>
                                            <li>- Para publicar sus comentarios debe cumplir las normas del portal.</li>
                                            <li>- Comentarios con contenido calumnioso, difamatorio, racista, xenófobo o que incite al odio serán eliminados.</li>
                                            <li>- Todo comentario es revisado por un editor, quien debe aprobarlo antes de su publicación.</li>
                                        </ul>
                                    </p>
                                    <h3>Jurisdicción</h3>
                                    <p>
                                        Los términos de uso de <strong>LA FABULOSA DE MEDELLÍN</strong> aplican y se rigen de acuerdo con la normatividad legal colombiana.
                                    </p>
                                    <h3>Política de Cookies</h3>
                                    <p>
                                        Este sitio emplea cookies de Google para prestar sus servicios, para personalizar anuncios y para analizar el tráfico. Google recibe información sobre tu uso de este sitio web. Si utilizas este sitio web, se sobreentiende que aceptas el uso de cookies.
                                        <br>
                                        Además de las cookies de Google, es posible que <strong>LA FABULOSA DE MEDELLÍN</strong> emplee cookies de otras redes publicitarias con el mismo propósito.
                                    </p>
                                    <h3>Protección de Datos</h3>
                                    <p>
                                        <strong>LA FABULOSA DE MEDELLÍN</strong> en cumplimiento del Artículo 10 del Decreto 1377 de 2013, reglamentario de la Ley 1581 de 2012, sobre protección de datos personales, informa a sus suscriptores y lectores que:

                                        Cuenta con una de bases de datos obtenidas directamente de los usuarios que libre y voluntariamente se han suscrito a nuestro boletín diario de noticias.

                                        Dicha base de datos se crea usando el servicio de un tercero y la información allí recavada es apenas sobre el correo electrónico de los usuarios. <strong>LA FABULOSA DE MEDELLÍN</strong> no comparte, ni compartirá para fines comerciales la información contenida en la mencionada base de datos. Guardamos la debida confidencialidad de la información recolectada.

                                        Si usted es suscriptor de <strong>LA FABULOSA DE MEDELLÍN</strong> y no desea seguir recibiendo el servicio, o desea que su cuenta sea eliminada puede hacerlo directamente, haciendo clic en el botón “unsubscribe now” que se encuentra al final de cada mensaje diario enviado a los suscriptores. Si prefiere puede enviar un correo electrónico, solicitando su eliminación, con el asunto: Cancelar.
                                    </p>
                                    <h3>Política para publicidad online de <strong>LA FABULOSA DE MEDELLÍN</strong></h3>
                                    <p>
                                        <strong>LA FABULOSA DE MEDELLÍN</strong> se sustenta en valores como la verdad y la confianza. Por ello la información que publicamos y el tipo de publicidad que aceptamos deben cumplir con dichos valores.
                                        <br>
                                        La publicidad aceptada en <strong>LA FABULOSA DE MEDELLÍN</strong> debe:
                                        <br>
                                    </p>
                                    <p>
                                        <ul>
                                            <li>- Cumplir las especificaciones técnicas.</li>
                                            <li>- Cumplir con la regulación y leyes aplicables.</li>
                                            <li>- Ser claramente distinguible del contenido editorial del portal.</li>                                            
                                        </ul>
                                    </p>
                                    <p>
                                        <strong>LA FABULOSA DE MEDELLÍN</strong> se reserva el derecho a rechazar cualquier anuncio, a su propia discreción.
                                        <br>
                                        <strong>LA FABULOSA DE MEDELLÍN</strong> NO acepta:
                                        <br>
                                        
                                    </p>
                                    <p>
                                        <ul>
                                            <li>- Publicidad engañosa o fraudulenta.</li>
                                            <li>- Publicidad obscena o pornográfica.</li>
                                            <li>- Publicidad discriminatoria.</li>
                                            <li>- Publicidad de juegos de suerte y azar.</li>
                                            <li>- Publicidad de tabaco y alcohol.</li>
                                            <li>- Publicidad de productos que inciten a la violencia.</li>
                                        </ul>
                                    </p>
                                </div>
                                <button type="submit" class="btn oneMusic-btn mt-30"><a href="/">Regresa</a></button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ##### Login Area End ##### -->

        <%- include('../includes/footer.ejs') %>